{{extend 'layout.html'}}

<style>body {margin: 30px;}</style>

<div style="width: 300px; float: right;">
{{ def boldif(value): return 'style="font-weight: bold;"' if value else '' }}
{{ if len(available_prices) > 0: }}
prices: <a href="{{=url('dolores', args=study.id)}}" {{=boldif(request.vars.price==None)}}>all</a>
{{ for price in available_prices: }}
<a href="{{=url('dolores', args=study.id, vars={'price': price})}}"
	{{=boldif(request.vars.price==str(price))}}>
  {{= "$%.2f" % price }}
</a>
{{ pass }}
<br/>
{{ pass }}
{{=XML(time_range[0].strftime("<b>%I:%M %p</b> %a, %B %d %Y"))}}<br>
study notes: {{=study.description}}
{{ if example_hit: }}<a href="/utility/{{=study.controller_func}}?testing=True&hitId={{=example_hit.hitid}}">(example)</a>{{ pass }}

<br><a href="{{=url('view', args=request.args, vars=request.vars)}}">switch to trickle-plot</a>
</div>


<h2>Plotting work over time for <span style="color: #555555">{{=study.name}}</span></h2>
<div style="margin: 10px 0px;">
{{ import math }}
Workers completed the {{=num_hits}} tasks in
{{='%d hours %d min' % (total_hours, (total_hours - math.floor(total_hours)) * 100 * 100 / 60)}}.<br/>
Addiction rate: {{= "%.1f" % (float(num_hits) / pageloaders)}}
             or {{= "%.1f" % (float(num_hits) / finished_by)}} hits per person
</div>
{{ if True or request.vars.price: }}
Looked at by: {{= '%d' % (pageloaders/total_hours)}} workers per hour <br/>
{{ pass }}
Accepted by: {{= "%d%%" % (100*float(accepted_by)/pageloaders) }} ({{=accepted_by}} workers / {{=pageloaders}} workers)<br/>
Completed by: {{= "%d%%" % (100*float(finished_by)/pageloaders) }}
({{=finished_by}} workers / {{=pageloaders}} workers)<br/>
<br/>

<script type="text/javascript" src="/utility/static/protovis-d3.1.js"></script>
<script type="text/javascript+protovis">
{{include 'dolores.js'}}
</script>
<script type="text/javascript+protovis">
	//var data = [[1,2], [3,4]];
	//var padding = .3;

	var input = {{=data}};

//	data = [[Date.parse(d['time'], "%Y-%m-%d %H:%M:%S"), d['worker']]
//			  for (d in input['display'])];

	//data = [[i.time, i.worker] for each (i in input.preview)];
	data1 = [[i.time, i.worker] for each (i in input.finished)];
	for (var i=0; i < data1.length; i++) {
		data1[i].action = 'finished';
		data1[i].condition = input.finished[i].condition;
   }
	data2 = [[i.time, i.worker] for each (i in input.display)];
	for (var i=0; i < data2.length; i++) {
		data2[i].action = 'display';
		data2[i].condition = input.display[i].condition;
   }
	data = data1.concat(data2);
	dolores();

</script>

<p>Workers are on the Y axis, ordered by the time they started work on
this task.  Time is on the X axis.<br/>Task <b>accepts</b> are
circles, and <b>finishes</b> are dots.  Previews of the task are not
depicted.</p>

<script type="type="text/javascript+protovis" src="/utility/static/workcount.js"></script>

  </body>
</html>
