<html>
	 <body style="background-color: {{=color}}; padding: 0; margin: 0;">
    <script language="javascript">
      //setTimeout('location.href = "/admin/default/ticket/{{=ticket}}"', {{=delay}});
    </script>
    <!-- this is junk text else IE does not display the page: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx //-->
		<center><img src="/static/bombs/{{=img}}" width="{{=width}}" height="{{=height}}"></center>

<script language="JavaScript">
function autoResize(id) {
    var e = document.getElementById(id);
    e.height = e.contentWindow.document.body.scrollHeight + 'px';
    e.width = e.contentWindow.document.body.scrollWidth + 'px';
}
</script>

<iframe src="/admin/default/ticket/{{=ticket}}" width="100%" height="400px"
		  id="pooh" marginheight="0" frameborder="0" onLoad="autoResize('pooh')">
</iframe>
	 </body>
</html>
