.*
!.gitignore
*.table
*.db
*.log
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
index.yaml
gluon/tests/VERSION
gluon/tests/sql.log
httpserver.log
httpserver.pid
parameters*.py
./deposit
./benchmark
./build
./dist*
./dummy_tests
./optional_contrib
./ssl
./docs
./logs
./*.zip
./gluon/*.1
./gluon/*.txt
./admin.w2p
./examples.w2p
cron.master
applications/*/databases/*
!applications/*/databases/hello
applications/*/sessions/*
!applications/*/sessions/hello
applications/*/errors/*
!applications/*/errors/hello
applications/*/cache/*
!applications/*/cache/hello
applications/*/uploads/*
applications/*/uploads/hello
applications/examples/*
applications/admin/cron/cron.master
applications/utility/static/debug
applications/utility/static/debug_tasks
applications/utility/models/settings.py
